world/
world_nether/
world_the_end/
logs/
cache/
libraries/
versions/
server.jar
plugins/.paper-remapped/
plugins/**/userdata/
plugins/**/tmp/
plugins/**/libs/
plugins/**/translations/
plugins/**/*.db
plugins/**/*.mv.db
plugins/**/*.lock
plugins/**/usermap.bin
plugins/**/uuids.bin
usercache.json
*.log
*.lck
session.lock
